//Colors
$white: #FFF;
$black: #000;
$fondo: #133e66;
$fondo-body:#06021d;
$sombreado: #1b417a;



//Mixins
@mixin flex-column-center-center{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



