@import "styles";

img{
    width:100px;
    height: 100px;
    border: 2px solid $white;
    border-radius: 20px;
    margin-bottom: 20px;
}

.boton-actualizar{
    margin: 10px;
    background-color: $back-light;
    border: 1px solid $back-light;
    width: 240px;
    height: 60px;
    color: $white;
    font-weight: 700;
    font-size: 1.1rem;
    &:hover{
        background-color: #91afca;
        border: 1px solid #91afca;
    }
}
.cancelar{
    padding-top: 15px;
}

.titulo{
    color: $white;
}

