@import "styles";

form{
    background-color: $back;
    border-radius: 20px;
    border: 1px solid $white;
    padding: 20px;
}

.imagen-tabla{
    max-width: 100px;
    max-height: 100px;
}

.editar-juego{
    display: grid;
    grid-template-areas: "textos separador media";
    gap:20px;
    grid-template-columns: 2fr 0.01fr 2fr;
}

.textos{
    grid-area: textos;
}

.media{
    grid-area: media;
    display: flex;
    flex-direction: column;
}

.separador{
    grid-area: separador;
    width:2px;
    background-color: $white;
    height: 100%;
}

iframe{
    min-height: 250px;
}

.caratula{
    width:150px;
    height: 200px;
    margin: 10px auto;
}

select{
    width: 100%;
    height: 35px;
    border-radius: 5px;
}

input, label, select{
    margin: 5px;
}

.botones-juego{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    button, a{
        width: 200px;
        height: 60px;
        margin: 5px;
        font-weight: 700;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#imagen{
    width: 500px;
    height: 300px;
}


@media(max-width:768px){
    .editar-juego{
        display: grid;
        grid-template-areas: "textos"
                            "media";
        grid-template-columns: 1fr;
    }

    *{
        width: 100%;
    }
    #imagen{
        width: 300px;
        height: 150px;
    }
}