@import "styles";

.contenedor-juego{
    display:grid;
    grid-template: "vt cp"
                    "c c";
    grid-column: 3fr 1fr;
    grid-gap: 30px;
}

.video-texto{
    grid-area: vt;
}

.comentarios{
    grid-area: c;
}

.caratula-pago{
    grid-area: cp;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    min-width: 250px;
}

.caratula{
    width: 300px;
    height: 400px;
    margin-bottom:0;
}

.en-biblioteca{
    button{
        margin-top: 70px;
    }
}

.borde-luminoso{
    border: 1px solid $shadow;
    box-shadow: 0 0 20px $shadow;
    border-radius: 20px;
    overflow: hidden;
}

h1{
    margin-left:25px;
    color:$white; 
        text-align: center;
        margin: auto auto;
        font-weight: 900;
        font-size:2.3rem;
        border-bottom: 2px solid $back-light;
        margin-bottom: 50px;
        box-shadow: 0 4px 5px -2px $back-light;
    &::first-letter{
        text-transform: uppercase; 
    }
}

p{
    font-size:1.3rem;
}

iframe{
    border: 1px solid $shadow;
    box-shadow: 0 0 20px $shadow;
    border-radius: 20px;
    height:60vh;
    width:50vw;
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h2{
    text-align: center;

}

.boton{
    border-radius: 20px;
    margin:  0 5%;
    background-color: $back-light;
    border: 1px solid $shadow;
    box-shadow: 0 0 20px $shadow;
    width: 210px;
    width: 90%;
    height: 60px;
    color: $white;
    font-weight: 900;
    font-size: 2.3rem;
    padding: 15px;
    &:hover{
        background-color: #91afca;
        border: 1px solid #91afca;
    }
}


a{
    text-decoration: none;
}


@media(max-width:768px){
    .contenedor-juego{
        display:grid;
        grid-template:  "cp"
                        "vt"                         
                        "c";
        grid-gap: 20px;                
    }
    iframe{
        border: 1px solid $shadow;
        box-shadow: 0 0 20px $shadow;
        border-radius: 20px;
        height:60vh;
        width:85vw;
        margin-bottom: 50px;
    }
}



//Commentaries

@media(min-width:568px){
    .end{
        margin-left: auto;
    }
}

@media(max-width:768px){
    #post{
        width: 100%;
    }
}
#clicked{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #769EC4;
    border-color: #6088ad #4a6f92 #40668a;
    color: $black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px; 
}

#profile{
    background-color: unset;
    
} 

body{
    background-color: $black;
}

#nav-items li a,#profile{
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: $black;
}

.boton-eliminar{
    float: right;
}


.comments{
    margin-top: 5%;
    margin-left: 20px;
}

.comment:nth-child(odd){
    border: 1px solid rgb(19, 62, 102);
    background-color: rgba(19, 62, 102, 0.973);
    width: 100%;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}

.comment:nth-child(even){
    border: 1px solid #769EC4;
    background-color: $black;
    width: 100%;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}

.comment h4,.comment span,.darker h4,.darker span{
    display: inline;
}

.comment p,.comment span,.darker p,.darker span{
    color: rgb(184, 183, 183);
}

h1,h4{
    color: white;
    font-weight: bold;
}
label{
    color: rgb(212, 208, 208);
}

#align-form{
    margin-top: 20px;
}
.form-group p a{
    color: white;
}

#checkbx{
    background-color: $black;
}

#darker img{
    margin-right: 15px;
    position: static;
}

.form-group input,.form-group textarea{
    background-color: $black;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px;
}

.formulario-comentario{
    border: 1px solid rgb(19, 62, 102);
    background-color: rgba(19, 62, 102, 0.973);
    border-radius: 5px;
    padding: 20px;
 }

 #msg, h5{
     color: rgb(184, 183, 183);
     font-weight: 500;
    font-size: 1.1rem;
 }

 .boton{
    background-color: $back-light;
    border: 1px solid $back-light;
    width: 210px;
    height: 60px;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 20px;
    &:hover{
        background-color: #91afca;
        border: 1px solid #91afca;
    }
}

.no-login{
    padding: 20px;
    color: rgb(184, 183, 183);
    font-weight: 500;
   font-size: 1.1rem;
}