@import "styles";

.encabezado-juegos{
    h1{
        margin-left:25px;
        color:$white; 
        text-align: center;
        margin: auto auto;
        font-weight: 900;
        font-size:2.3rem;            
        &::first-letter{
            text-transform: uppercase; 
        }
    }   
    border-bottom: 2px solid $back-light;
    box-shadow: 0 4px 5px -2px $back-light;
    margin-bottom: 20px;
}

form{
    color: $white;
}

#busqueda-juegos{
    margin-top:20px;
    margin-bottom: 50px;
    border-radius: 20px;
    background-color: $back;
    color: $white;
    text-align: center;
    &::placeholder{
        color:$white;
        opacity: 0.5;
    }
}

#busqueda-boton{
    border-radius: 10px;
    background-color: $back-light;
    border: 1px solid $back-light;
    width: 90px;
    height: 30px;
    color: $white;
    font-weight: 700;
    font-size: 1.1rem;
    &:hover{
        background-color: $button;
        border: 1px solid $button;
    }
    margin: 10px;
}

input{
    color: $white;
}

textarea{
    color:$black;
}

#games, #projects{
    margin-top: 100px;
}

.flechas{
    margin: 10px;
    width: 50px;
    height: 50px;
    &:hover{
        opacity: 0.7;
    }
}

.enlace-flecha{
    text-decoration: none;
}

.paginas-navegador{
    font-size: 2rem;
    width: 50px;
    text-decoration: none;
}

.pagina-actual{
    font-size: 3rem;
    width: 50px;

}

.boton-nuevo{
    height: 50px;
    line-height: 35px;
    width: 500px;
    font-size: 1.5rem;
    font-weight: 700;
}

.pagination-wrapper{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-centrado{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width:768px){
    #busqueda-juegos{
        margin-bottom: 5px;
    }
}

//Galleries

.imagen-juego{
    width:320px; 
    height:480px;
    transition: width .6s, height .6s;
     box-shadow: 0 0 30px $game-shadow;
}

.interno{
    width:360px; 
    height:550px;
    position: relative;
}

.galeria, .juego{
    background-color: $back-body;
}


.galeria{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nombre-juego{
    opacity: 0;
    top: 100px;
    left: 20px;
    position: absolute;
    width:320px; 
    height:320px;
    font-size:3rem;
    background-color:$black;
    color: $white;
    transition: opacity .5s;
    text-shadow: 3px 3px 5px $black;
    background: radial-gradient(circle, rgba(2,0,36,1) 9%, rgba(0,0,0,0) 70%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interno:hover>a>img{
    width:350px; 
    height:520px;
    cursor: pointer;
}

.interno:hover>a>.nombre-juego, .interno:hover>a>.precio-juego{
    opacity: 1;
}


.precio-juego{
    opacity: 0;
    top: 280px;
    left: 20px;
    position: absolute;
    width:320px; 
    height:320px;
    font-size:3rem;
    background-color:$black;
    color: $white;
    transition: opacity .5s;
    text-shadow: 3px 3px 5px $black;
    background: radial-gradient(circle, rgba(2,0,36,1) 9%, rgba(0,0,0,0) 70%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width:768px){
    .imagen-juego{
        width:160px; 
        height:240px;
        transition: width .6s, height .6s;
         box-shadow: 0 0 30px $game-shadow;
    }
    
    .interno{
        width:180px; 
        height:275px;
        position: relative;
    }

    .interno:hover>a>img{
        width:170px; 
        height:250px;
        cursor: pointer;
    }

    .nombre-juego{
        opacity: 0;
        top: 10px;
        left: 2px;
        position: absolute;
        width:160px; 
        height:160px;
        font-size:1.5rem;

    }

    .precio-juego{
        opacity: 0;
        top: 100px;
        left: 2px;
        position: absolute;
        width:160px; 
        height:160px;
        font-size:1.5rem;
    }
}
