@import "styles";

.login-completo{
    border: 1px solid $back-light;
    box-shadow: 0 0 40px $shadow;
}


.titulo{
    background-color: $back;
    color: $white;
    font-weight: 700;
    font-size: 1.2rem;
    border-bottom: 1px solid $back-light;
    text-align: center;
}

form{
    color: $white;
    font-weight: 700;
    font-size: 1.1rem;
}

.contenedor-formulario{
    background-color: $back;
}

.boton, .boton-ampliado{
    background-color: $back-light;
    border: 1px solid $back-light;
    width: 210px;
    height: 60px;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 20px;
    &:hover{
        background-color: #91afca;
        border: 1px solid #91afca;
    }
}

.contenedor-boton{
    @include flex-column-center-center;
}

.boton-ampliado{
    width: 400px;
    margin: auto auto;
}

.resetear-contraseña{
    background-color: $back-light;
    border: 1px solid $back-light;
    border-radius: 5px;
    color: $white;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    &:hover{
        background-color: #91afca;
        border: 1px solid #91afca;
    }
}

.input-group-text{
    background-color: $back-light;
    border: 1px solid $back-light;
    color: $white;
    font-weight: 700;
    font-size: 1.1rem;
}

.enlace{
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    padding-bottom: 10px;
    &:hover{
        color: $back-light;
    }
}

.div-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

label{
    text-align: left;
    margin-right: 0px;
    margin-left:50px;
}

.recuerdame{
    margin-left:15px;
}


