@import "styles";

table, thead, tr{
    background-color: $back;
    border-radius: 20px;
    border: 1px solid $white;
    th, td{
        font-size: 1.5rem;
        padding: 10px;      
        border: 1px solid $white;  
        text-align: center;
    }
}

.imagen-tabla{
    max-width: 100px;
    max-height: 100px;
}

.boton{
    width: 70%;
    height: 100%;
    margin: 5px;
}

.nombre{
    font-weight: 900;
    font-size: 1.5rem;
}
